.Barcode {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.BarcodeSvg {
  align-self: center;
}

.BarcodeSpace {
  padding-top: 22%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  text-transform: uppercase;
  opacity: .3;
}

.BarcodeRemove {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: 2rem;
  height: 2rem;
  color: var(--color-danger);
  transform: rotate(45deg);
}

@media print {
  .BarcodeSpace,
  .BarcodeCodeInput,
  .BarcodeRemove {
    display: none;
  }

  .Barcode.Hidden {
    display: none;
  }
}
