.AddButtonContainer {
  --add-button-dim: 3rem;
  --add-button-padding-top: 3.75rem;

  display: block;
  width: 10rem;
  min-height: calc(var(--add-button-dim) + var(--add-button-padding-top));
  text-align: center;
  padding-top: var(--add-button-padding-top);
}

.AddButton {
  position: relative;
  width: var(--add-button-dim);
  height: var(--add-button-dim);
  border: 1px solid var(--color-surface);
  color: var(--color-primary);
}

@media print {
  .BarcodeSpace,
  .BarcodeInput,
  .AddButton {
    display: none;
  }
}
