.AddButtonContainer {
  --add-button-dim: 3rem;

  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 3rem 3rem 0;
  opacity: 0.5;
  z-index: 2;
}

.AddButtonContainer:hover {
  opacity: 1;
}

.AddButton {
  position: relative;
  width: var(--add-button-dim);
  height: var(--add-button-dim);
}

@media print {
  .BarcodeSpace,
  .BarcodeInput,
  .AddButton {
    display: none;
  }
}
